{% extends "base.html" %}
{% block title %}blog titles{% endblock %}
{% block content %}
<div class="row">
	<!-- 这两个div标签中的内容是静态的-->
    <div class="col-xs-12 col-md-6">
		<h2 text-align="center">汉服</h2>
		<img src="../static/images/gaohong.jpg" alt="logo" width="400px" height="300px">

	</div>

    <div class="nav navbar-nav">
		<h2 text-align="center">亲亲</h2>
		<img src="../static/images/gaohong1.jpg" alt="logo" width="300px">

	</div>

    <!-- 下面div标签中的内容是动态的-->
    <div class="media col-md-8">
		<ul>
			{% for blog in blogs %}
            <!-- 每个动态显示的内容-->
			<li><a href="{% url 'blog:blog_article' blog.id %}">{{ blog.id }}.{{ blog.title }}</a></li>
                {{ blog.body }}
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
